{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="ftco-section">
	<div class="container">
		<div class="row px-md-4">
			{% for article in articles %}
			<div class="col-md-12">
				<div class="blog-entry ftco-animate d-md-flex">
					<a href="{{ article.get_absolute_url }}" class="img img-2" style="background-image: url({{article.image.url}});"></a>
					<div class="text text-2 pl-md-4">
						<h3 class="mb-2"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
						<div class="meta-wrap">
							<p class="meta">
								<span><i class="icon-calendar mr-2"></i>{{ article.created_at|date }}</span>
								<span><a href="{{ article.get_absolute_url }}"><i class="icon-folder-o mr-2"></i>{{ article.category }}</a></span>
								<span><i class="icon-comment2 mr-2"></i>{{ article.comment_set.count }}</span>
							</p>
						</div>
						<p class="mb-4">{{ article.body }}</p>
						<p><a href="{{ article.get_absolute_url }}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		{% include 'paginator.html' %}

	</div>
</section>

{% endblock %}
