{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-xl-8 px-md-5 py-5">
	<div class="row pt-md-4">
		{% for article in articles %}
		<div class="col-md-12">
			<div class="blog-entry-2 ftco-animate">
				<a href="/detail/{{ article.slug }}/" class="img" style="background-image: url({{ article.image.url }});"></a>
				<!-- <a href="{% url 'single' article.slug %}" class="img" style="background-image: url(images/image_1.jpg);"></a> -->
				<div class="text pt-4">
					<h3 class="mb-4"><a href="#">{{ article.title }}</a></h3>
					<p class="mb-4">{{ article.body }}</p>
					<div class="author mb-4 d-flex align-items-center">
						<div class="ml-3 info">
							<h3><span>{{ article.created_at|date }}</span></h3>
						</div>
					</div>
					<div class="meta-wrap d-md-flex align-items-center">
						<div class="half order-md-last text-md-right">
							<p class="meta">
								<span><i class="icon-eye"></i>{{ article.views }}</span>
								<span><i class="icon-comment"></i>{{ article.comment_set.count }}</span>
							</p>
						</div>
						<div class="half">
							<p><a href="{% url 'single' article.slug %}" class="btn btn-primary p-3 px-xl-4 py-xl-3">Continue Reading</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	{% include 'paginator.html' %}

</div>

{% include 'rside.html' %}

{% endblock %}
